In [96]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [97]:
car = pd.read_csv('quikr_car.csv')

In [98]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [99]:
car.shape

(892, 6)

In [100]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [101]:
car.isnull().sum()

name           0
company        0
year           0
Price          0
kms_driven    52
fuel_type     55
dtype: int64

# analysis

### Cleaning the data set

In [102]:
# Year column
car = car[car['year'].str.isnumeric()]

In [103]:
car['year'] = car['year'].astype(int)

In [104]:
car = car[car['Price'] != 'Ask For Price']

In [105]:
car['Price'] = car['Price'].str.replace(',','').astype(int)

### kms_driven

In [106]:
car['kms_driven'] = car['kms_driven'].str.split().str.get(0).str.replace(',','')

In [107]:
car = car[car['kms_driven'].str.isnumeric()]

In [108]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [109]:
car=car[~car['fuel_type'].isna()]

In [110]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

### Name Column

In [111]:
car['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [112]:
# let stract the only first three words 
car['name']  = car['name'].str.split().str.slice(0,3).str.join(' ')

In [113]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

# data is clean almost

In [114]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [115]:
car.to_csv('Cleaned_Car_data.csv')

### Machine learning Phase

In [116]:
## split the data set into X and Y 
X = car.drop('Price', axis=1)
y = car['Price']

In [117]:
X , y

(                       name   company  year  kms_driven fuel_type
 0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
 1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
 3         Hyundai Grand i10   Hyundai  2014       28000    Petrol
 4    Ford EcoSport Titanium      Ford  2014       36000    Diesel
 6                 Ford Figo      Ford  2012       41000    Diesel
 ..                      ...       ...   ...         ...       ...
 883      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
 885          Tata Indica V2      Tata  2009       30000    Diesel
 886    Toyota Corolla Altis    Toyota  2009      132000    Petrol
 888            Tata Zest XM      Tata  2018       27000    Diesel
 889      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

 [816 rows x 5 columns],
 0       80000
 1      425000
 3      325000
 4      575000
 6      175000
         ...
 883    270000
 885    110000
 886    300000
 888    260000
 889    390000
 Name: Price, Length: 816, dtype: int32)

In [118]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [119]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [120]:
ohe = OneHotEncoder()
ohe.fit(X[['name' , 'company' , 'fuel_type']])

OneHotEncoder()

In [121]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [122]:
lr = LinearRegression()
pipe = make_pipeline(column_trans , lr)
pipe.fit(X_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [123]:
y_pred = pipe.predict(X_test)

In [124]:
r2_score(y_test, y_pred)

0.6607973394040594

### applying the technique to improve the accuracy

#### Finding the model with the random state

In [125]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    scores.append(r2_score(y_test,y_pred))

In [126]:
np.argmax(scores)

247

In [127]:
scores[np.argmax(scores)]

0.8604438371028031

In [128]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8604438371028031

In [129]:
import pickle

In [131]:
pickle.dump(pipe , open('LinearRegressionModel.pkl' , 'wb'))